<% layout('layout') %>

<% if (products.length === 0) { %>
  <p class="text-center text-muted">Tidak ada produk yang cocok dengan pencarian "<%= query %>".</p>
<% } else { %>
<% } %>

<div class="container mt-5">
  <h1 class="text-center mb-4"><%= title %></h1>
    <div class="row">
      <% products.forEach(function(product) { %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text fu-bold">Rp <%= product.price.toLocaleString('id-ID') %></p>
              <a href="/product/<%= product.id %>" class="btn btn-primary st-auto">Detail Produk</a>
            </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>